/*RESPONSIVE 1024PX*/
@media(max-width: 1024px){
    .container{
        width: 300px;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 90px;
    }

    /*Inicio del diseño de la Seccion 1*/
    .info{
        width: 150px;
        padding-top: 200px;
        padding-bottom: 60px;
    }

    .info img{
        height: 200px;
    }

    .info h1{
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .info p{
        font-size: 15px;
        width: 200%;
    }
    /*Fin del diseño de la Seccion 1*/


    /*Inicio del diseño de la Seccion 2*/
    .form{
        width: 380px;
        padding-left: 80px;
    }

    .form h1{
        font-size: 28px;
    }

}


/*RESPONSIVE 768PX*/
@media(max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        height: 60px;
        width: 300px;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 90px;
    }

    /*Inicio del diseño de la Seccion 1*/
    .info{
        width: 400px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .info img{
        height: 250px;
    }
    
    .info h1{
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .info p{
        font-size: 16px;
    }
    /*Fin del diseño de la Seccion 1*/

    /*Inicio del diseño de la Seccion 2*/
    .form{
        width: 460px;
        padding-left: 80px;
        margin-bottom: 20px;
    }

    .form h1{
        font-size: 30px;
    }

    .form p{
        font-size: 16px;
        margin-bottom: 40px;
    }

    .form .sector-1 input{
        width: 350px;
        font-size: 25px;
    }

    .form .select-category select{
        width: 420px;
        padding: 27px 30px;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .icon-select{
        transform: translate(-400%, -120%)
    }

    .icon-select img{
        height: 60px;
    }

    .sector-1 p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .botones{
        transform: translateX(20%);
    }
    /*Fin del diseño de la Seccion 2*/
}
/*FIN DEL RESPONSIVE 768PX*/


/*RESPONSIVE 480PX*/
@media(max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 250px;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 90px;
    }
    
    
    /*Inicio del diseño de la Seccion 1*/
    .info{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .info img{
        height: 180px;
    }
    
    .info h1{
        font-size: 22px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .info p{
        width: 200%;
        font-size: 15px;
        
    }
    /*Fin del diseño de la Seccion 1*/
    
    
    /*Inicio del diseño de la Seccion 2*/
    .form{
        width: 225px;
        padding-left: 40px;
        margin-bottom: 20px;
    }
    
    .form h1{
        font-size: 22px;
    }
    
    .form p{
        font-size: 13px;
        width: 130%;
        margin-bottom: 30px;
    }
    
    .form .sector-1 input{
        padding: 15px 20px;
        width: 250px;
        font-size: 20px;
    }
    
    .form .select-category select{
        width: 290px;
        padding: 20px 20px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .icon-select{
        position: absolute;
        right: 10px;
        transform: translate(-220%, -115%)
    }
    
    .icon-select img{
        height: 50px;
    }
    

    .sector-1 p{
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .radio-button{
        width: 25px;
        height: 25px;
    }
    
    .radio-button::after{
        transform: translate(35%, 35%);
    }

    .form{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .form label{
        font-size: 18px;
    }

    .sector-1 .opciones{
        margin-bottom: 0;
    }

    .botones{
        transform: translateX(-20%);
    }
    
    .botones button{
        width: 130px;
        height: 60px;
        padding: 0 40px;
    }

    .botones button h2{
        font-size: 27px;
    }
    
    .botones img{
        width: 30px;
    }

    .form .botones .button-izq h2{
        transform: translate(20%, -145%);
    }

    .botones .button-izq img{
        transform: translate(-110%, 50%);
    }

    .form .botones .button-der h2{
        transform: translate(-40%, -30%);
    }

    .botones .button-der img{
        transform: translate(100%, -195%);
    }
    /*Fin del diseño de la Seccion 2*/
}
/*FIN DEL RESPONSIVE 480PX*/


/*RESPONSIVE 320PX*/
@media(max-width: 320px){
    .container{
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 80px;
        margin-top: 10px;
        margin-left: 25px;
        margin-bottom: 90px;
    }
    
    
    /*Inicio del diseño de la Seccion 1*/
    .info{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .info img{
        height: 150px;
    }
    
    .info h1{
        font-size: 20px;
        margin-bottom: 0;
    }
    
    .info p{
        width: 480%;
        font-size: 12px;
        
    }
    /*Fin del diseño de la Seccion 1*/
    
    
    /*Inicio del diseño de la Seccion 2*/
    .form{
        width: 140px;
        padding-left: 40px;
        margin-bottom: 20px;
    }
    
    .form h1{
        font-size: 20px;
        width: 180%;
    }
    
    .form p{
        font-size: 12px;
        width: 155%;
        margin-bottom: 30px;
    }
    
    .form .sector-1 input{
        padding: 15px 20px;
        width: 160px;
        font-size: 18px;
    }
    
    .sector-1 .select-category select{
        width: 200px;
        padding: 18px 20px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .icon-select{
        position: absolute;
        pointer-events: none;
        right: 10px;
        transform: translate(-220%, -150%)
    }
    
    .icon-select img{
        height: 30px;
    }
    
    .sector-1 p{
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    
    .radio-button{
        width: 25px;
        height: 25px;
    }
    
    .radio-button::after{
        transform: translate(35%, 35%);
    }

    .form label{
        font-size: 15px;
    }

    .sector-1 .opciones{
        margin-bottom: 0;
    }
    
    .form .botones h2{
        display: none;
    }
    
    .form .botones button img{
        width: 40px;
    }
    
    .botones .button-izq{
        padding-right: 15px;
        margin-right: 10px;
    }

    .form .button-izq img{
        transform: translate(-30%, 15%);
    }

    .botones .button-der{
        padding-right: 15px;
    }

    .form .button-der img{
        transform: translate(-20%, 15%);
    }

    /*Fin del diseño de la Seccion 2*/
}
/*FIN DEL RESPONSIVE 320PX*/